<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- JavaScript -->

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

    <script th:src="@{http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js}"></script>

    <script th:src="@{/chartjs/javascript.js}"></script>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <!-- favicon -->
    <link rel="icon" type="image/png" th:href="@{/css/images/pacmanfavicon.png}" />
    <title>PACMAN Joueurs</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2121DE;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/profilAdministrateur" title="Revenir au profil">
        <img alt="texte alternatif pour le lien image" th:src="@{/css/images/pacmanfavicon.png}" width="20" height="20" />
    </a>
    <a class="navbar-brand" style="color: white;padding-bottom: 0;padding-left: 0.6%;">PACMAN</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="listeJoueurs">Joueurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="statistiquesAdministrateur">Statistiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profilAdministrateur">Profil</a>
            </li>
            <li class="nav-item">
                <form id="my_form" form-method="post" th:action="@{/logout} ">
                    <a class="nav-link" href="javascript:{}" onclick="document.getElementById('my_form').submit();">Deconnexion</a>
                </form>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <h2 class = "mt-4">Voici tous les joueurs</h2> <br>

    <a th:href="@{/showNewJoueur}" class="buttonC"> Ajouter un joueur </a><br>

    <table class="table table-responsive-md">
        <thead style="background-color: #2121DE;">
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Pays</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="personne : ${listeJoueur}">
                <td th:text="${personne.pseudo}"></td>
                <td th:text="${personne.email}"></td>
                <td th:text="${personne.pays}"></td>
                <td th:text="${personne.score}"></td>
                <td>
                    <a th:href="@{/updateListeJoueurs/{id}(id=${personne.id})}"><i class="material-icons md-24">update</i></a>
                    <a th:href="@{/deletePersonne/{id}(id=${personne.id})}"><i class="material-icons md-24">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
    </br>
    <div> <span> CHAT </span></div>
    <table class="messagerie">
        <tbody >
        <tr th:each="messagerie : ${listeMessages}">

            <td  class="msg-pseudo"> <span th:text="${messagerie.getPersonne().pseudo}"></span></td>
            <td class="msg-ctent-other" > <span th:text="${messagerie.message}"></span></td>
            <td  class="msg-date-other" th:text="${messagerie.date}"></td>

        </tr>
        </tbody>
    </table>
</br>
</br>
</br>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>