<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <!-- favicon -->
    <link rel="icon" type="image/png" th:href="@{/css/images/pacmanfavicon.png}" />
    <title>PACMAN</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2121DE;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" title="Revenir au menu">
        <img alt="texte alternatif pour le lien image" th:src="@{/css/images/pacmanfavicon.png}" width="20" height="20" />
    </a>
    <a class="navbar-brand" style="color: white;padding-bottom: 0;padding-left: 0.6%;">PACMAN</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0 mb-0">
            <li class="nav-item">
                <a class="nav-link" href="/jeuJoueur">Jouer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="profilJoueur">Profil</a>
            </li>
            <li class="nav-item">
            <form id="my_form" form-method="post" th:action="@{/logout} ">
                <a class="nav-link" href="javascript:{}" onclick="document.getElementById('my_form').submit();">Deconnexion</a>
            </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

        <div class=" block col-8 bg-light mx-auto mt-4">
            <div class="row">
                <h3 class="mx-auto">Profil</h3>
            </div>
            <hr class="hrC">
            <div class="row">
                <div class="mx-auto">
                    <label for="pseudo">PSEUDO</label>
                    <span id="pseudo" th:text="${personne.pseudo}"></span>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <label for="email">EMAIL</label>
                    <span id="email" th:text="${personne.email}"></span>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <label for="pays">PAYS</label>
                    <span id="pays" th:text="${personne.pays}"></span>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <label for="sexe">SEXE</label>
                    <span id="sexe" th:text="${personne.sexe}"></span>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <label for="score">SCORE</label>
                    <span id="score" th:text="${personne.score}"></span>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <a  th:href="@{/update/{id}(id=${personne.id})}" class="buttonC">Mettre à jour</a>
                </div>
            </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>